body {
  color: white;
  font-family: system-ui;
  background: rgb(30, 30, 30);

  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: #fa6607;
}

h2 {
  color: green
}

h1,
h2 {
  text-align: left;
}

a {
  color: #f1bf19;
}