body {
  color: #1e1e1e;
  font-family: Segoe UI, system-ui, -apple-system, sans-serif;
  font-size: clamp(1rem,-0.875rem + 8.333vw, 1.5rem);
  line-height: 1.5;

  max-width: 54ch;
  margin: 0 auto;
  padding: 1rem 20px;
}

@media(prefers-color-scheme: dark){
  body{
    color: hsl(0deg 0% 70%);
    background: hsl(216deg 28% 7%);
  }
  h1, h2 {
    color: hsl(0deg 0% 85%);
  }
}


h1,
h2 {
  line-height: 1.2;
}

a:link {
  color: #58a6ff;
}

a:visited {
  color: #8e96f0;
}

.lmao {
  display: flex;
}

@media screen and (max-width: 600px) {
  .lmao {
    flex-wrap: wrap;
  }
}
